@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@1,300&display=swap');

body{
    background-color: rgb(53, 64, 158);
    text-align: center;
    color: whitesmoke;
    margin: 0px;
}

table{
    background-color: rgb(32, 86, 148);
    display: inline-table;
    border-radius: 8px;
    border-color: green;
}

h1 {
    text-align: center;
}

#countries{
   align-items: center;
   list-style: none;
   padding: 0px;
   max-width: fit-content;
   padding-left: 600px;
}

footer{
    background-color: rgb(75, 70, 70);
    color: white;
    margin: 0px;
}

.facts{
    align-items: center;
   list-style: none;
   padding: 0px;
   max-width: fit-content;
   padding-left: 620px;
}